In [1]:
import isopy.isopy as iso

In [2]:
%load_ext autoreload
%autoreload 2

# Input

In [3]:
# Input
EXONS_COMPO_CSV = "../../tests/test_isopy/mock_exon_composition.csv"
EXONS_FAS = "../../tests/test_isopy/mock_exons.fas"
GENOME_REF = "../../tests/test_isopy/mock_genome.fas"
READS_1 = "../../tests/test_isopy/mock_multi_fasta_1.fas"
READS_2 = "../../tests/test_isopy/mock_multi_fasta_2.fas"

# All in one analysis

In [13]:
isoseq = iso.IsoAnalysis([READS_1, READS_2], GENOME_REF, out_dir='test_out', min_read_count=0, threads=1)

DEBUG:root:Minimap2 START
DEBUG:root:Minimap2 DONE
DEBUG:root:Minimap2 START
DEBUG:root:Minimap2 DONE
DEBUG:root:Samtools merge START
DEBUG:root:Samtools merge DONE
DEBUG:root:Raw exon extraction START
DEBUG:root:Raw exon extraction DONE
DEBUG:root:Filter exons by canonical splice sites START
DEBUG:root:Filter exons by canonical splice sites DONE
DEBUG:root:Filter exons by read support START
DEBUG:root:Filter exons by read support DONE

Building a new DB, current time: 08/07/2019 16:34:14
New DB name:   /home/khourhin/Programming/isopy/isopy/notebooks/test_out/test.fas
New DB title:  test_out/test.fas
Sequence type: Nucleotide
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 4 sequences in 0.000460148 seconds.

In [14]:
isoseq.exons_df

,chrom,start,end,frequency,sequence,splice_sites
0,GPHN,399,463,5,ATGGCGACCGAGGGAATGATCCTCACCAACCACGACCATCAAATCC...,"(AC, GT)"
1,GPHN,14197,14284,3,GTTATCTTACATTAAAAATTGGGAAAAATGGTGCTGTAATGGGCAG...,"(AG, GT)"
2,GPHN,85390,85439,3,GATATGCTGGCTCGTGCCTATAATCCCAGCACTGGGGAGGAAGACACAG,"(AG, GT)"
3,GPHN,89392,89472,5,GCTGCCAAAAGAAGGTGTGGTCCAGATTTAGAGATGGCCCTTCAAC...,"(AG, GT)"

In [25]:
isoseq.clusters_df.loc["alternative_transcript_1"].read_ids

(('mock_multi_fasta_1.fas', 'f1_transcript_1'),
 ('mock_multi_fasta_2.fas', 'f2_transcript_1'))

In [16]:
isoseq.exons_composition_df

subject                                   E1     E2     E3    E4
library                query
mock_multi_fasta_1.fas f1_transcript_1  True   True   True  True
                       f1_transcript_2  True   True  False  True
mock_multi_fasta_2.fas f2_transcript_1  True   True   True  True
                       f2_transcript_3  True  False   True  True
                       f2_transcript_4  True  False  False  True

In [17]:
isoseq.junction_libraries

0                                       E1_E2  E1_E3  E1_E4  E2_E3  E2_E4  \
library                query
mock_multi_fasta_1.fas f1_transcript_1   True  False  False   True  False
                       f1_transcript_2   True  False  False  False   True
mock_multi_fasta_2.fas f2_transcript_1   True  False  False   True  False
                       f2_transcript_3  False   True  False  False  False
                       f2_transcript_4  False  False   True  False  False

0                                       E3_E4
library                query
mock_multi_fasta_1.fas f1_transcript_1   True
                       f1_transcript_2  False
mock_multi_fasta_2.fas f2_transcript_1   True
                       f2_transcript_3   True
                       f2_transcript_4  False

In [20]:
isoseq.junction_pseudotrans

0                         E1_E2  E1_E3  E1_E4  E2_E3  E2_E4  E3_E4
transcript_id
alternative_transcript_1   True  False  False   True  False   True
alternative_transcript_2  False  False   True  False  False  False
alternative_transcript_3  False   True  False  False  False   True
alternative_transcript_4   True  False  False  False   True  False

In [21]:
isoseq.blast_df

,query,subject,identity,alignment_length,mismatches,gap_opens,query_start,query_end,subject_start,subject_end,evalue,bit_score,library
0,f1_transcript_1,E2,100.0,87,0,0,65,151,1,87,1.820000e-46,167.0,mock_multi_fasta_1.fas
1,f1_transcript_1,E4,100.0,80,0,0,201,280,1,80,2.040000e-42,154.0,mock_multi_fasta_1.fas
2,f1_transcript_1,E1,100.0,64,0,0,1,64,1,64,3.720000e-33,123.0,mock_multi_fasta_1.fas
3,f1_transcript_1,E3,100.0,49,0,0,152,200,1,49,1.790000e-24,94.9,mock_multi_fasta_1.fas
4,f1_transcript_2,E2,100.0,87,0,0,65,151,1,87,1.490000e-46,167.0,mock_multi_fasta_1.fas
5,f1_transcript_2,E4,100.0,80,0,0,152,231,1,80,1.670000e-42,154.0,mock_multi_fasta_1.fas
6,f1_transcript_2,E1,100.0,64,0,0,1,64,1,64,3.050000e-33,123.0,mock_multi_fasta_1.fas
0,f2_transcript_1,E2,100.0,87,0,0,65,151,1,87,1.820000e-46,167.0,mock_multi_fasta_2.fas
1,f2_transcript_1,E4,100.0,80,0,0,201,280,1,80,2.040000e-42,154.0,mock_multi_fasta_2.fas
2,f2_transcript_1,E1,100.0,64,0,0,1,64,1,64,3.720000e-33,123.0,mock_multi_fasta_2.fas
3,f2_transcript_1,E3,100.0,49,0,0,152,200,1,49,1.790000e-24,94.9,mock_multi_fasta_2.fas
4,f2_transcript_3,E4,100.0,80,0,0,114,193,1,80,1.390000e-42,154.0,mock_multi_fasta_2.fas
5,f2_transcript_3,E1,100.0,64,0,0,1,64,1,64,2.530000e-33,123.0,mock_multi_fasta_2.fas
6,f2_transcript_3,E3,100.0,49,0,0,65,113,1,49,1.220000e-24,94.9,mock_multi_fasta_2.fas
7,f2_transcript_4,E4,100.0,80,0,0,65,144,1,80,1.040000e-42,154.0,mock_multi_fasta_2.fas
8,f2_transcript_4,E1,100.0,64,0,0,1,64,1,64,1.900000e-33,123.0,mock_multi_fasta_2.fas

# Decomposed

In [20]:
exons = iso.ExonIdentifier([READS_1, READS_2], GENOME_REF, 'out_deco')

DEBUG:root:Minimap2 START
DEBUG:root:Minimap2 DONE
DEBUG:root:Minimap2 START
DEBUG:root:Minimap2 DONE
DEBUG:root:Samtools merge START
DEBUG:root:Samtools merge DONE
DEBUG:root:Raw exon extraction START
DEBUG:root:Raw exon extraction DONE
DEBUG:root:Filter exons by canonical splice sites START
DEBUG:root:Filter exons by canonical splice sites DONE
DEBUG:root:Filter exons by read support START
DEBUG:root:Filter exons by read support DONE

In [21]:
exons.exons_df

,chrom,start,end,frequency,sequence,splice_sites
0,GPHN,399,463,5,ATGGCGACCGAGGGAATGATCCTCACCAACCACGACCATCAAATCC...,"(AC, GT)"
1,GPHN,14197,14284,3,GTTATCTTACATTAAAAATTGGGAAAAATGGTGCTGTAATGGGCAG...,"(AG, GT)"
2,GPHN,85390,85439,3,GATATGCTGGCTCGTGCCTATAATCCCAGCACTGGGGAGGAAGACACAG,"(AG, GT)"
3,GPHN,89392,89472,5,GCTGCCAAAAGAAGGTGTGGTCCAGATTTAGAGATGGCCCTTCAAC...,"(AG, GT)"

In [22]:
clusters = iso.TranscriptCluster(exons.exon_fas_fn, [READS_1, READS_2])

Building a new DB, current time: 08/07/2019 15:54:04
New DB name:   /home/khourhin/Programming/isopy/isopy/notebooks/out_deco/test.fas
New DB title:  out_deco/test.fas
Sequence type: Nucleotide
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 4 sequences in 0.00037694 seconds.

Clusters are summarized in `.cluster_df`

In [23]:
clusters.cluster_df

,E1,E2,E3,E4,read_ids,frequency
transcript_id,,,,,,
alternative_transcript_1,True,True,True,True,"((mock_multi_fasta_1.fas, f1_transcript_1), (m...",2
alternative_transcript_2,True,False,False,True,"((mock_multi_fasta_2.fas, f2_transcript_4),)",1
alternative_transcript_3,True,False,True,True,"((mock_multi_fasta_2.fas, f2_transcript_3),)",1
alternative_transcript_4,True,True,False,True,"((mock_multi_fasta_1.fas, f1_transcript_2),)",1

Exon composition can be found in `.exon_composition_df`

In [24]:
clusters.exon_composition_df

subject                                   E1     E2     E3    E4
library                query
mock_multi_fasta_1.fas f1_transcript_1  True   True   True  True
                       f1_transcript_2  True   True  False  True
mock_multi_fasta_2.fas f2_transcript_1  True   True   True  True
                       f2_transcript_3  True  False   True  True
                       f2_transcript_4  True  False  False  True

Junction composition can be found in `.junction_composition_df`

In [25]:
clusters.junction_composition_df

0                         E1_E2  E1_E3  E1_E4  E2_E3  E2_E4  E3_E4
transcript_id
alternative_transcript_1   True  False  False   True  False   True
alternative_transcript_2  False  False   True  False  False  False
alternative_transcript_3  False   True  False  False  False   True
alternative_transcript_4   True  False  False  False   True  False

In [26]:
iso.build_fasta_bed_from_exon_composition(EXONS_FAS, clusters.cluster_df, 'test.fas', 'exons.bed', 'junctions.bed')

(<Bed object: exons>, <Bed object: junctions>, 'test.fas')