In [1]:
import isopy.isopy as iso

In [2]:
%load_ext autoreload
%autoreload 2

# Input

In [3]:
# Input
EXONS_COMPO_CSV = "../../tests/test_isopy/mock_exon_composition.csv"
EXONS_FAS = "../../tests/test_isopy/mock_exons.fas"
GENOME_REF = "../../tests/test_isopy/mock_genome.fas"
READS_1 = "../../tests/test_isopy/mock_multi_fasta_1.fas"
READS_2 = "../../tests/test_isopy/mock_multi_fasta_2.fas"

In [4]:
exons = iso.ExonIdentifier([READS_1, READS_2], GENOME_REF)

DEBUG:root:Minimap2 START
DEBUG:root:Minimap2 DONE
DEBUG:root:Minimap2 START
DEBUG:root:Minimap2 DONE
DEBUG:root:Samtools merge START
DEBUG:root:Samtools merge DONE
DEBUG:root:Raw exon extraction START
DEBUG:root:Raw exon extraction DONE
DEBUG:root:Filter exons by canonical splice sites START
DEBUG:root:Filter exons by canonical splice sites DONE
DEBUG:root:Filter exons by read support START
DEBUG:root:Filter exons by read support DONE

In [5]:
exons.exons_df

,chrom,start,end,frequency,sequence,splice_sites
0,GPHN,399,463,5,ATGGCGACCGAGGGAATGATCCTCACCAACCACGACCATCAAATCC...,"(AC, GT)"
1,GPHN,14197,14284,3,GTTATCTTACATTAAAAATTGGGAAAAATGGTGCTGTAATGGGCAG...,"(AG, GT)"
2,GPHN,85390,85439,3,GATATGCTGGCTCGTGCCTATAATCCCAGCACTGGGGAGGAAGACACAG,"(AG, GT)"
3,GPHN,89392,89472,5,GCTGCCAAAAGAAGGTGTGGTCCAGATTTAGAGATGGCCCTTCAAC...,"(AG, GT)"

In [6]:
clusters = iso.TranscriptCluster(exons.exon_fas_fn, [READS_1, READS_2])

Building a new DB, current time: 08/07/2019 15:05:34
New DB name:   /home/khourhin/Programming/isopy/isopy/notebooks/isopy_out/test.fas
New DB title:  isopy_out/test.fas
Sequence type: Nucleotide
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 4 sequences in 0.000421047 seconds.

Clusters are summarized in `.cluster_df`

In [7]:
clusters.cluster_df

,E1,E2,E3,E4,read_ids,frequency
transcript_id,,,,,,
alternative_transcript_1,True,True,True,True,"((mock_multi_fasta_1.fas, f1_transcript_1), (m...",2
alternative_transcript_2,True,False,False,True,"((mock_multi_fasta_2.fas, f2_transcript_4),)",1
alternative_transcript_3,True,False,True,True,"((mock_multi_fasta_2.fas, f2_transcript_3),)",1
alternative_transcript_4,True,True,False,True,"((mock_multi_fasta_1.fas, f1_transcript_2),)",1

Exon composition can be found in `.exon_composition_df`

In [8]:
clusters.exon_composition_df

subject                                   E1     E2     E3    E4
library                query
mock_multi_fasta_1.fas f1_transcript_1  True   True   True  True
                       f1_transcript_2  True   True  False  True
mock_multi_fasta_2.fas f2_transcript_1  True   True   True  True
                       f2_transcript_3  True  False   True  True
                       f2_transcript_4  True  False  False  True

Junction composition can be found in `.junction_composition_df`

In [9]:
clusters.junction_composition_df

0                         E1_E2  E1_E3  E1_E4  E2_E3  E2_E4  E3_E4
transcript_id
alternative_transcript_1   True  False  False   True  False   True
alternative_transcript_2  False  False   True  False  False  False
alternative_transcript_3  False   True  False  False  False   True
alternative_transcript_4   True  False  False  False   True  False

In [10]:
iso.build_fasta_bed_from_exon_composition(EXONS_FAS, clusters.cluster_df, 'test.fas', 'exons.bed', 'junctions.bed')

(<Bed object: exons>, <Bed object: junctions>, 'test.fas')