In [1]:
import isopy.isopy as iso

In [2]:
%load_ext autoreload
%autoreload 2

# Input

In [5]:
# Input
EXONS_COMPO_CSV = "../../tests/test_isopy/mock_exon_composition.csv"
EXONS_FAS = "../../tests/test_isopy/mock_exons.fas"
GENOME_REF = "../../tests/test_isopy/mock_genome.fas"
READS_REF = "../../tests/test_isopy/ref_mock_transcripts.fas"

In [15]:
exons = iso.ExonIdentifier([READS_REF], GENOME_REF)

DEBUG:root:Minimap2 START
DEBUG:root:Minimap2 DONE
DEBUG:root:Samtools merge START
DEBUG:root:Samtools merge DONE
DEBUG:root:Raw exon extraction START
DEBUG:root:Raw exon extraction DONE
DEBUG:root:Filter exons by canonical splice sites START
DEBUG:root:Filter exons by canonical splice sites DONE
DEBUG:root:Filter exons by read support START
DEBUG:root:Filter exons by read support DONE

In [16]:
exons.exons_df

,chrom,start,end,frequency,sequence,splice_sites
0,GPHN,399,463,4,ATGGCGACCGAGGGAATGATCCTCACCAACCACGACCATCAAATCC...,"(AC, GT)"
1,GPHN,14197,14284,2,GTTATCTTACATTAAAAATTGGGAAAAATGGTGCTGTAATGGGCAG...,"(AG, GT)"
2,GPHN,85390,85439,2,GATATGCTGGCTCGTGCCTATAATCCCAGCACTGGGGAGGAAGACACAG,"(AG, GT)"
3,GPHN,89392,89472,4,GCTGCCAAAAGAAGGTGTGGTCCAGATTTAGAGATGGCCCTTCAAC...,"(AG, GT)"

In [30]:
clusters = iso.TranscriptCluster(exons.exon_fas_fn, READS_REF)

ref_mock_transcripts
Building a new DB, current time: 08/07/2019 11:09:53
New DB name:   /home/khourhin/Programming/isopy/isopy/notebooks/isopy_out/test.fas
New DB title:  isopy_out/test.fas
Sequence type: Nucleotide
Deleted existing Nucleotide BLAST database named /home/khourhin/Programming/isopy/isopy/notebooks/isopy_out/test.fas
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 4 sequences in 0.000349998 seconds.

In [31]:
clusters.exon_composition_df

                 E1     E2     E3    E4
transcript_id
transcript_1   True   True   True  True
transcript_2   True   True  False  True
transcript_3   True  False   True  True
transcript_4   True  False  False  True

In [29]:
clusters

# Import Transcripts

In [6]:
transcripts = iso.Transcripts(EXONS_COMPO_CSV, EXONS_FAS)

Once imported, exon composition is stored in `.exon_composition_df`:

In [7]:
transcripts.exon_composition_df

                 E1     E2     E3    E4
transcript_id
transcript_1   True   True   True  True
transcript_2   True   True  False  True
transcript_3   True  False   True  True
transcript_4   True  False  False  True

And junction composition is stored in `.junction_composition_df`:

In [8]:
transcripts.junction_composition_df

0              E1_E2  E1_E3  E1_E4  E2_E3  E2_E4  E3_E4
transcript_id
transcript_1    True  False  False   True  False   True
transcript_2    True  False  False  False   True  False
transcript_3   False   True  False  False  False   True
transcript_4   False  False   True  False  False  False